################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plain_War/Logs
/Plain_War/obj/Debug
/Plain_War/Temp
