################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plain_War/Logs
/Plain_War/obj/Debug
/Plain_War/Temp
/Plain_War/Library/Artifacts
/Dodgeball/Library
/Dodgeball/Logs
/Dodgeball/obj/Debug
/Dodgeball/Temp
